@page
@model JoePizzeria.Pages.Checkout.ThankYouModel
@{
}
<h1>Thank You for ordering. You Pizza will reach you soon</h1>

<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        
        <p> Pizza ordered :  @Model.PizzaName </p>
        <p> Order ID: @Model.OrderId</p>
        
        <p>Amount for your order is: Rs @Model.PizzaPrice</p>
        <br />
        
    </div>
</div>